.total-orders{

font-size:18px;
font-weight:600;
margin-bottom:20px;

}


.order-form{

background:white;
border:1px solid #ddd;
padding:20px;
margin-bottom:20px;
border-radius:10px;

}



.order-form input,
.order-form select{

width:100%;
padding:10px;
margin-bottom:12px;
border:1px solid #ccc;
border-radius:6px;

}



.buttons{

display:flex;
gap:10px;
margin-top:15px;

}


.save-btn{

background:#111;
color:white;
padding:10px 20px;
border:none;
cursor:pointer;

}


.cancel-btn{

background:#ddd;
padding:10px 20px;
border:none;
cursor:pointer;

}