.checkout-container{

max-width:1000px;
margin:auto;
padding:40px 20px;

}


h1{

font-size:32px;
margin-bottom:30px;

}



.steps{

display:flex;
gap:30px;
margin-bottom:40px;

}


.steps div{

color:#888;

}


.steps .active{

color:black;
font-weight:bold;

}



.checkout-grid{

display:grid;
grid-template-columns:2fr 1fr;
gap:30px;

}



.box,
.summary{

border:1px solid #ddd;
padding:25px;

}



label{

display:block;
font-size:12px;
letter-spacing:2px;
margin-top:15px;

}



input{

width:100%;
padding:12px;

border:1px solid #ddd;

margin-top:5px;

}



.row{

display:grid;
grid-template-columns:1fr 1fr;
gap:15px;

}



button{

margin-top:20px;
padding:12px 25px;
display: flex;
background:#b8862f;

color:white;
gap:5px;

border:none;

cursor:pointer;

}



.summary{

height:max-content;

}



.summary div{

display:flex;
justify-content:space-between;
margin-bottom:15px;

}



.item{

display:flex;
align-items:center;
gap:15px;
border:1px solid #ddd;
padding:10px;

}



.item img{

width:60px;
height:60px;
object-fit:contain;

}



.secure{

background:#f5f4f1;
padding:15px;
margin-top:20px;

}



.success{

height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

}




@media(max-width:800px){

.checkout-grid{

grid-template-columns:1fr;

}


.steps{

flex-direction:column;

}


.row{

grid-template-columns:1fr;

}

@media(max-width:500px){
    .cart{

    flex-direction:column;

    align-items:flex-start;

    gap:12px;

    width:100%;

}



.item img{

    width:90px;

    height:90px;

    margin:auto;

}



.item div{

    width:100%;

    font-size:14px;

}



.item strong{

    align-self:flex-end;

    font-size:16px;

}

.cart-table{
    display: flex;
    flex-direction: column;
}
.checkout-container{

    padding:25px 12px;

}



h1{

    font-size:24px;

    margin-bottom:20px;

}



/* STEPS */

.steps{

    gap:12px;

    margin-bottom:25px;

    font-size:14px;

}





/* BOXES */

.box,
.summary{

    padding:15px;

}





.box h2{

    font-size:20px;

}



.summary h3{

    font-size:18px;

}




/* INPUTS */

input{

    padding:10px;

    font-size:14px;

}



label{

    font-size:11px;

    letter-spacing:1px;

}





/* BUTTONS */

button{

    width:100%;

    justify-content:center;

    padding:11px;

    font-size:14px;

}





/* PRODUCT ITEMS */

.item{

    flex-direction:column;

    align-items:flex-start;

    gap:10px;

}



.item img{

    width:80px;

    height:80px;

}



.item strong{

    align-self:flex-end;

}





/* SUMMARY */

.summary div{

    font-size:14px;

}



.summary p{

    font-size:14px;

}





/* SUCCESS PAGE */

.success{

    padding:20px;

    text-align:center;

}



.success h2{

    font-size:24px;

}



.success p{

    font-size:14px;

}



}
}