.checkout-container{

max-width:1000px;
margin:auto;
padding:40px 20px;

}


h1{

font-size:32px;
margin-bottom:30px;

}



.steps{

display:flex;
gap:30px;
margin-bottom:40px;

}


.steps div{

color:#888;

}


.steps .active{

color:black;
font-weight:bold;

}



.checkout-grid{

display:grid;
grid-template-columns:2fr 1fr;
gap:30px;

}



.box,
.summary{

border:1px solid #ddd;
padding:25px;

}



label{

display:block;
font-size:12px;
letter-spacing:2px;
margin-top:15px;

}



input{

width:100%;
padding:12px;

border:1px solid #ddd;

margin-top:5px;

}



.row{

display:grid;
grid-template-columns:1fr 1fr;
gap:15px;

}



button{

margin-top:20px;
padding:12px 25px;
display: flex;
background:#B8975A;

color:white;
gap:5px;

border:none;

cursor:pointer;

}



.summary{

height:max-content;

}



.summary div{

display:flex;
justify-content:space-between;
margin-bottom:15px;

}



.item{

display:flex;
align-items:center;
gap:15px;
border:1px solid #ddd;
padding:10px;

}



.item img{

width:60px;
height:60px;
object-fit:contain;

}



.secure{

background:#f5f4f1;
padding:15px;
margin-top:20px;

}



.success{

height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

}




@media(max-width:800px){

.checkout-grid{

grid-template-columns:1fr;

}


.steps{

flex-direction:column;

}


.row{

grid-template-columns:1fr;

}

}